/* .heading{
    text-align: center;
    margin-top: 1vh;
    border: 1px solid black;
    box-sizing: border-box;
} */
/* .heading1{
    font-weight: bold;
    font-size: x-large;
    margin: 0%;
} */
/* .flex{
    justify-content: space-between;
    align-self: stretch!important;
    align-items: stretch!important;
}
tr{
    text-align: center;
} */

/* .clrRed{
    color: red;
} */
.wrap{
    /* word-wrap: break-word; */
}
/* .width{
    width: 100%;
} */

.overflow{
    overflow-y: hidden;
}